<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mybatis.Mapper.studentMapper">

    <select id="selectAll" resultType="stuUser">
        select *
        from student ;
    </select>


    <select id="selectId" resultType="stuUser">
    select *
    from student
    <where>
        <if test="id != NULL and id != '' "></if>
         id = #{id}
    </where>
    ;
    </select>
    <select id="selectIdList" resultType="Mybatis.pojo.stuUser">
        select *
        from student
        <where>
            id in
            (
            <foreach collection="array" item="id" separator=",">
              #{id}
            </foreach>
            )
        </where>
        ;
    </select>


    <!--/*
        * "id="
        ", studentId="
        ", sname='"
        ", sgrade="
        ", gradeRanking
        ", studentClass
        * */
         -->
    <insert id="insertData" useGeneratedKeys="true" keyProperty="id">
        insert into student
        (studentId,sname,sgrade,gradeRanking,studentClass)
        values (#{studentId},#{sname},#{sgrade},#{gradeRanking},#{studentClass});
    </insert>

    <update id="upData">
    update student
    <set>
        <if test="studentId != null and studentId !=''">
            studentId = #{studentId},
        </if>
        <if test="sname !=  null">
            sname = #{sname},
        </if>
        <if test="sgrade != null and sgrade !=''">
            sgrade = #{sgrade},
        </if>
        <if test="gradeRanking != null and gradeRanking !=''">
            gradeRanking = #{gradeRanking},
        </if>
        <if test="studentClass != null and studentClass !=''">
            studentClass = #{studentClass}
        </if>
    </set>
    where id = #{id};

    </update>


    <delete id="deleteData">
        delete
        from student
        where id = #{id};
    </delete>


</mapper>
